.download-btn {
  text-align: center;
  width: 200px;
  display: inline-block;
  color: #003399;
  background: #a5b8db;
  border-radius: 5px;
  padding: 10px 12px;
  border: 2px solid #a5b8db;
}
.download-btn i {
  padding-left: 5px;
  color: #003399;
}

.download-btn:hover {
  border: 2px solid #003399;
}
.download-btn:hover i {
  color: white;
}

.arrow-box {
  position: relative;
  background: #88b7d5;
}

.arrow-box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #003399;
  border-width: 8px;
  margin-left: -40%;
}

.round-box {
  background-color: white;
  width: 100%;
  height: 100%;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
}

.round-box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -40%;
}

header {
  background: rgb(224, 230, 242);
  background: radial-gradient(circle, rgb(224, 230, 242) 6%, rgb(255, 255, 255) 23%, rgb(224, 230, 242) 42%, rgb(224, 230, 242) 55%);
}
header .navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  min-width: 98%;
  min-height: 90px;
  font-size: 14px;
  font-weight: 700;
  margin: 1% 1%;
  box-shadow: 5px 10px 12px -5px rgba(0, 0, 0, 0.2);
}
header .navbar-div {
  min-width: 33.3333333333% -10px;
}
header .link-list {
  margin-left: 100px;
}
header .countdown-bar {
  background-color: #335bad;
}
header .countdown-bar p {
  color: white;
  text-align: center;
  font-size: 40px;
  margin: 5px;
}
header .countdown-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .countdown-bar .timer-div {
  padding: 3px 30px;
  color: white;
}
header .countdown-bar .timer-div .timer-div-numbers {
  text-align: center;
  font-size: 40px;
}
header .countdown-bar .timer-div .timer-span {
  margin-left: 9px;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
}
header a {
  color: #003399;
}
header ul {
  display: flex;
  align-items: center;
}
header ul .links {
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
header ul a:hover {
  color: red;
}
header ul .links-social {
  list-style: none;
  margin: 0 10px;
  cursor: pointer;
}
header ul .links-social i {
  color: grey;
  font-size: 18px;
}
header ul .links-social i:hover {
  color: red;
}
header .ul-social {
  display: flex;
  justify-content: center;
  margin-right: 100%;
}
header .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20% 45% 18% 0;
  color: #003399;
}
header .hero h3 {
  font-size: 20px;
  padding-bottom: 15px;
}
header .hero h3 i {
  font-size: 15px;
  padding-right: 10px;
  color: red;
}
header .hero h1 {
  font-weight: 700;
  font-size: 32px;
}
header .text-square {
  max-width: 70%;
  padding: 7% 0 7% 33%;
  color: #303b52;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .text-square p {
  font-weight: 600;
  line-height: 1.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: rgb(224, 230, 242);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.main-top {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-top: 100px;
}
.main-top .title {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}
.main-top .title h1 {
  font-weight: 700;
  color: #003399;
  margin-bottom: 20px;
}
.main-top .title p {
  color: grey;
  margin-bottom: 15px;
}
.main-top .title span {
  font-weight: 600;
  color: lightblue;
  margin-bottom: 50px;
}
.main-top #container-agenda {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 80%;
}
.main-top #container-agenda h2 {
  color: #003399;
  margin-bottom: 15px;
}
.main-top #container-agenda .row {
  display: flex;
  margin-bottom: 15px;
}
.main-top #container-agenda .row .hour {
  text-align: right;
  margin-right: 80px;
  margin-bottom: 15px;
  color: #003399;
  width: 30%;
}
.main-top #container-agenda .row .info {
  text-align: left;
  width: 70%;
  padding-right: 10%;
}
.main-top #container-agenda .row .info h4 {
  font-size: 16px;
  font-weight: 600;
  color: #003399;
}
.main-top #container-agenda .row .info #info-square {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  color: white;
  background-color: #003399;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
}
.main-top #container-agenda .row .info #info-square .avatar-square {
  border-radius: 50%;
  border: 5px solid white;
  border-width: thick;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  max-height: 100px;
  margin-right: 5%;
}
.main-top #container-agenda .row .info #info-square .avatar-square img {
  width: 100px;
  height: 100px;
}
.main-top .btn-div {
  padding: 70px 0;
  display: flex;
  justify-content: center;
}

.main-bottom {
  background-color: #003399;
}

.material-links {
  background-color: white;
}

.main-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a5b8db;
}
.main-bottom .container {
  width: 60%;
  padding: 10% 0;
}
.main-bottom .container h1 {
  color: white;
  font-size: 40px;
  padding-bottom: 25px;
  font-weight: bold;
}
.main-bottom .container div {
  padding-bottom: 10px;
}
.main-bottom .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-bottom .row .row-download {
  width: 50%;
}
.main-bottom .row .row-download h4, .main-bottom .row .row-download p {
  padding-bottom: 20px;
}
.main-bottom .row .row-download-icon-container {
  width: 20%;
}
.main-bottom .row .row-download-icon-container .row-download-icon {
  border-radius: 50%;
  background: white;
  border-width: thick;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90px;
  min-height: 90px;
  margin-right: 5%;
  font-size: 40px;
  color: #003399;
}

#main-bottom-bottom {
  background-color: #003399;
}
#main-bottom-bottom .container {
  display: flex;
  justify-content: center;
  background-color: white;
}
#main-bottom-bottom .container .material-links {
  display: flex;
  flex-direction: column;
  background-color: #a5b8db;
  border-radius: 2%;
  width: 50%;
  margin: 8% 0;
  padding: 3%;
}
#main-bottom-bottom .container .material-links p {
  color: white;
}
#main-bottom-bottom .container .material-links a {
  color: #003399;
  text-decoration: none;
}
#main-bottom-bottom .container .material-links p, #main-bottom-bottom .container .material-links a {
  font-weight: bold;
  padding: 1% 0;
}
#main-bottom-bottom .container .material-links i {
  padding-left: 10px;
  font-size: 20px;
}
#main-bottom-bottom .container .material-links a:hover {
  color: red;
}

footer {
  background-color: #003399;
  display: flex;
  justify-content: center;
}
footer .container {
  display: flex;
  width: 80%;
  padding: 2% 0;
}
footer .container .container-links {
  width: 100%;
}
footer .container .container-links .row {
  display: flex;
  flex-direction: column;
  color: #a5b8db;
  font-size: 12px;
}
footer .container .container-links .row ul {
  display: flex;
}
footer .container .container-links .row ul li {
  padding: 10px;
}
footer .container .container-links .row ul li a {
  color: #a5b8db;
}
footer .container .container-links .row ul li a:hover {
  color: red;
}
footer .container .container-socials {
  width: 80%;
}
footer .container .container-socials .socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
footer .container .container-socials .socials a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
footer .container .container-socials .socials a:hover {
  color: red;
}
