header {
    background: rgb(224,230,242);
    background: radial-gradient(circle, rgba(224,230,242,1) 6%, rgba(255,255,255,1) 23%, rgba(224,230,242,1) 42%, rgba(224,230,242,1) 55%);
    .navbar {
        position:fixed;
        top:0;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        background-color: white;
        align-items: center;
        min-width: 98%;
        min-height: 90px;
        font-size: 14px;
        font-weight: 700;
        margin: 1% 1%;
        -webkit-box-shadow: 5px 10px 12px -5px rgba(0,0,0,0.2);
        -moz-box-shadow: 5px 10px 12px -5px rgba(0,0,0,0.2);
        box-shadow: 5px 10px 12px -5px rgba(0,0,0,0.2);
    }
    .navbar-div {
        min-width: calc(100% / 3) -10px;
    }
    .link-list {
        margin-left: 100px;
    }
    .countdown-bar {
        background-color: $countdown-bar_bgcolor;
        p {
            color: white;
            text-align: center;
            font-size: 40px;
            margin: 5px;
          }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .timer-div {
            padding: 3px 30px;
            color: white;
            .timer-div-numbers {
                text-align: center;
                font-size: 40px;
            }
            .timer-span {
                margin-left: 9px;
                text-align: center;
                font-size: 11px;
                font-weight: 400;
            }
        }
    }
    a {
        color: #003399;
    }
    ul {
        display: flex;
        align-items: center;
        .links {
            list-style: none;
            margin: 0 20px;
            cursor: pointer;
        }
        a:hover {
            color: red;
        }
        .links-social {
            list-style: none;
            margin: 0 10px;
            cursor: pointer;
            i {
                color: grey;
                font-size: 18px;
            }
            i:hover {
                color: red;
            }
        }
    }
    .ul-social {
        display: flex;
        justify-content: center;
        margin-right: 100%;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20% 45% 18% 0;
        color: $main-blue;
        h3 {
            font-size: 20px;
            padding-bottom: 15px;
            i {
                font-size: 15px;
                padding-right: 10px;
                color: red;
            }
        }
        h1 {
            font-weight: 700;
            font-size: 32px;
        }
    }
    .text-square {
        max-width: 70%;
        padding: 7% 0 7% 33%;
        color: $dark-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-weight: 600;
            line-height: 1.8;
        }
    }
}