.main-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-blue;
    .container {
        width: 60%;
        padding: 10% 0;
        h1 {
            color: white;
            font-size: 40px;
            padding-bottom: 25px;
            font-weight: bold;
        }
        div {
            padding-bottom: 10px;
        }
    }
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        .row-download {
            width: 50%;
            h4, p {
                padding-bottom: 20px;
            }
        }
        .row-download-icon-container {
            width: 20%;
            .row-download-icon {
                border-radius: 50%;
                background: white;
                border-width: thick;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 90px;
                min-height: 90px;
                margin-right: 5%;
                font-size: 40px;
                color: $main-blue;
            }
        }
    }
}

#main-bottom-bottom {
    background-color: $main-blue;
    .container {
        display: flex;
        justify-content: center;
        background-color: white;
        .material-links {
            display: flex;
            flex-direction: column;
            background-color: $light-blue;
            border-radius: 2%;
            width: 50%;
            margin: 8% 0;
            padding: 3%;
            p {
                color: white;
            }
            a {
                color: $main-blue;
                text-decoration: none;
            }
            p, a {
                font-weight: bold;
                padding: 1% 0;
            }
            i {
                padding-left: 10px;
                font-size: 20px;
            }
            a:hover {
                color: red;
            }
        }
    }
}

