// General Settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: rgb(224,230,242);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.main-top {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-top: 100px;
    .title {
        display: flex;
        flex-direction: column;
        padding-left: 20%;
        h1 {
            font-weight: 700;
            color: $main-blue;
            margin-bottom: 20px;
        }
        p {
            color: grey;
            margin-bottom: 15px;
        }
        span {
            font-weight: 600;
            color: lightblue;
            margin-bottom: 50px;
        }
    }
    #container-agenda {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        width: 80%;
        h2 {
            color: $main-blue;
            margin-bottom: 15px;
        }
        .row {
            display: flex;
            margin-bottom: 15px;
            .hour {
                text-align: right;
                margin-right: 80px;
                margin-bottom: 15px;
                color: $main-blue;
                width: 30%;
            }
            .info {
                text-align: left;
                width: 70%;
                padding-right: 10%;
                h4 {
                    font-size: 16px;
                    font-weight: 600;
                    color: $main-blue;
                }
                #info-square {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;
                    color: white;
                    background-color:$main-blue;
                    padding: 20px;
                    margin-top: 20px;
                    margin-bottom: 15px;
                    border-radius: 3px;
                    .avatar-square {
                        border-radius: 50%;
                        border:5px solid white;
                        border-width: thick;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 100px;
                        max-height: 100px;
                        margin-right: 5%;
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            } 
        }
    }
    .btn-div {
        padding: 70px 0;
        display: flex;
        justify-content: center;
    }
}
.main-bottom {
    background-color: $main-blue;
}

.material-links {
    background-color:white;
}